<div class="row">
  <div class="four columns">&nbsp;
  </div>
<div class="eight columns"><div class="smile">
<%= smile.smiletext %>
</div>
</br >
<div class="whosmileswhere">
<%= if (smile.username != "") then smile.username else "Someone" end %>
smiling
<%= if (smile.country != "somewhere") then "in " + smile.country else smile.country end  %>
</div></div>
<div class="four columns">&nbsp;
</div>

</div>
