<p>
  <a href="/">Home</a>
</p>

<h1>FAQ</h1>

<h2>Who is behind this website?</h2>

<p>This is a private website.</p>

<h2>What is the goal of this website?</h2>

<p>It`s goal is to share happy moments with others.</p>
