<p>
  <a href="/">Home</a>
</p>

<h1>FAQ</h1>

<h2>Who is behind this website?</h2>


<p>This is a private project run by <a href="https://de.linkedin.com/pub/anna-kress/15/89b/26">
  Anna Kress</a>
. I am a computer scientist from Berlin, Germany.
</p>

<p>I believe that the world can be a better place. In 2012 I co-founded
  <a href="https://www.fairmondo.de/">Fairmondo</a>  ,
  a market place and co-operative, which supports Fair Trade products and generates
  donations to anti-corruption initiatives.
</p>

<p>If you have any questions or ideas how to improve the Website, please write me an email:
  <a href="mailto:anna@shareyoursmiles.org">anna@shareyoursmiles.org</a>
</p>

<h2>Why this website?</h2>

<p>A lot of terrible things are happening in this world. I think it is human
  responsibility to be aware of this and take action, big or small.
  But it gives us strength to be able to enjoy the beauty of life at the same time.
</p>

<p>This Website is a variation of a happiness diary to record you happiness moments
  and to share them with others. You can do this absolutely anonymously, no private
  data of you is tracked or stored.
</p>

<p>If you are a programmer, you can inspect the source code of this Website.
  This Website is Open Source and written in Ruby on Rails. The source code is public
  and <a href="https://github.com/annakress/shareyoursmiles">hosted on Github</a>.
</p>
